<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/css/style.css"/>

	<title>ATMA</title>

</head>
<body>

	<header>

	</header>
	<main>
		<div class="pro">
			<h1>ATMA</h1>
		</div>
		<div class="frame">
			<div id="result">
			  <canvas></canvas>
			</div>
			<div id="editor">
			explaintion of example on left or the code for it would go here
			</div>
		  </div>
		</div>
		
	
	</main>
	<footer>

	</footer>

</body>
</html>